body {
    background-color: lightgrey;
}

.jumbotron {
    background-image: url(images/code2.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
    color: white;
    text-align: right;
    padding-bottom: 10px;

}

.jumbotron h1 {
    font-size: 40px;
}

ul li:active a {
    background-color:#000;
    color:#FFF;
    }

a {
    color: #00b3b4;
}