<!DOCTYPE html>
<html>
<head>
<title>{{#block "title"}}HackaThon Event Tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hackathon Event Tracker<br> We love to code!!</h1>
    </div>
    <hr>
    <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item"><a data-toggle="tab" href="/">Home</a></li>
        <li role="presentation" class="nav-item"><a data-toggle="tab" href="/">See All Events</a></li>
        <li role="presentation" class="nav-item"><a data-toggle="tab" href="/events/new">Add a New Event</a></li>
    </ul>
    <!--begin main template-->
    <div class="row">
        <div class="col-md-12" id="home">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h1>Event list!</h1>
                </div>
                <div class="panel-body">
                    {{#block "content"}}
                    {{/block}}
                </div>
                <div class="container">
                    <p class="text-muted"><a href="/events/delete">DELETE ALL EVENTS</a></p>
                </div>

            </div>
        </div>
</div>
<!--end main template-->
{{#block "footer"}}
</body>
</html>
{{/block}}