{{#partial "content"}}

    {{#if editEvent}}
        <h1>Edit this Event!</h1>
        <form action="/events/{{editEvent.id}}/update" method="post">

            <label for="agenda">Edit this event's agenda: </label>
            <input class="agendaInput" id="agenda" name="agenda" type="text" value="{{editEvent.agenda}}">

    {{else}}

            <h3>Add a new Event!</h3>
            <form action="/events/new" method="post">
                <label for="name">Event Name: </label>
                <input id="name" name="name" type="text">
                <br>
                <label for="agenda">Agenda: </label>
                <input class="agendaInput" id="agenda" name="agenda" type="text">
    {{/if}}
                <button type="submit" class="btn btn-default">Add/Edit Event</button>
            </form>
{{/partial}}

{{> layout.hbs}}